<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <div class="container">
      <div class="content">
        <h1>Hello there!</h1>
        <form action="/birthday" method="post">
          <label for="name">What's your name?</label><br>
          <input value="Name" name="name" type="text"><br>
          <p>When is your birthday?</p>
          <label for="date">day:</label>
          <input type="text" name="date" id="date">
          <label for="month">month:</label>
          <select name="month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">May</option>
            <option value="7">May</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select><br>
          <input type="submit" value="Go!">
        </form>
      </div>
    </div>
  </body>

</html>
