<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
  <div class="container">
    <h1>Hello There!</h1>
    <form action="/birthday" method="post">
      <label for="name">What's your name?</label><br>
      <input value="Name" name="name" type="text"><br>
      <h3>When is your birthday?</h3>
      <label for="date">day:</label>
      <input type="text" name="date">
      <label for="month">month:</label>
      <select>
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="May">May</option>
        <option value="May">May</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
    </form>
  </div>
</body>