@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.content {
  background-color: #c2dcfe;
  max-width: 600px;
  border-radius: 5px;
  padding: 100px;
  -webkit-box-shadow: 10px 10px 39px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 39px -17px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 39px -17px rgba(0,0,0,0.75);
}

.container h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.container form {
  font-weight: 300;
  text-align: center;
}

.container label {
  padding: 15px;
  text-align: center;
}

.container input {
  font-size: 1rem;
  padding: 3px;
}

#date {
  width: 20px;
}

h1.result {
  text-align: center;
  font-size: 2rem;
}